:root {
  background-color: #f5efe7;
  color: #112a46;
  padding: 8px;
  height: 99vh;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1200px){
  header{
    .title-header{
      text-align: center;
      h1{
        color: red;
        margin: 0;
      }
      span{
        
      }
    }
  }

  main{

    .introduction{

      .example-code{
        display: flex;

        .code{
          flex: 1;

          pre{
            background-color: #112a46;
            color: #f1f5f9;
          }
        }
      
        .output{
          flex: 1;
        }
      }
    }
    .selection{
      display: flex;
      // border: 1px solid black;
      box-sizing: border-box;

      .structure-wrapper-one{
        padding-left: 8px;
        flex: 1;

        select{
          background-color: #f5efe7;
          border: none;
          border-bottom: 1px solid grey;
         
          option{
            border-radius: 4px;
          }
        }
     
        
      }
      .structure-wrapper-two{
        padding-left: 4px;
        flex: 1;
  
        
        pre{
          padding-top: 45px;
          padding-bottom: 45px;
          border: 1px solid grey;
        }
      }
    }
  }

  footer{
    margin-top: 24px;
    p{
      margin: 0;
    }
    
  }
}

@media (min-width: 801px) and (max-width: 1200px){
  header{
    .title-header{
      h1{
        color: blue;
      }
    }
  }

  main{

  }

  footer{

  }
}

@media (min-width:  320px) and (max-width: 800px){
  header{
    .title-header{
      h1{
        color: green;
      }
    }
  }

  main{

  }

  footer{

  }
} 